<%- include('partials/header'); %>

    <div class="posts container mt-4">
        <h1 class="page-title">Home</h1>
        <p>
            <%= homeStartingContent %>
        </p>
        <% posts.forEach((post)=> { %>
            <h1 class="page-title">
                <%= post.title %>
            </h1>

            <% let content=post.body.slice(0, 100) %>
                <p>
                    <%= content %>...
                        <a href="/posts/<%= post.title %>">Read More</a </p>
                        <% }) %>
    </div>


    <%- include('partials/footer'); %>